    @font-face {
        font-family: 'bakery';
        src: url(/puplic/fonts/bakery.otf);
    }







    @font-face {
        font-family:gobold;
        src: url(/puplic/fonts/Gobold\ Bold\ Italic.otf);
    }